body {
    display : flex;
    flex-wrap : wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("aside.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;     
    
    
      
}


header {
    flex-grow: 1;
    height : 30% ;
    flex-basis : 100%;

}

header h1 {
    color: white;
    border-style:solid;
    border-color: white;
    border-radius: 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%; 
    margin: auto;
    margin-top: 20px;

}

header ul {
    display : flex ;
    flex-wrap :nowrap;
    text-align: center;


}

header ul li {
    flex-grow: 1;
    flex-basis: 100%;
    list-style:none;
    border-style:solid;
    border-radius: 20px;
    border-color: white;
}

header a{
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul :hover{
    background-color: black;
    
}

ul {
    list-style-type: none;
}


main {
    display : flex;
    flex-direction: column;
    flex-basis : 45%;
    flex-grow : 4 ;
}

main section {
    transition: transform 0.3s ease-in-out; 
    margin-top: 0px;;
    margin-left : 30px;
    margin-bottom: 10px;

  }
  
main section:hover {
    transform: scale(1.05); 
}

section section{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    min-width: 50vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : whitesmoke;
    height: auto;
    width: 25em;
    border-radius: 20px;
    margin : 30px;
    border-color: whitesmoke;
    border-style: solid;
    position: relative;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 10px; 
    width: 80%; 
} 

aside {
    color : white;
    border-style: solid;
    flex-basis: 15%;
    flex-grow : 1;
    margin : 10px;
    padding : 5px;
    border-radius: 20px;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%; 
}


aside section{
    margin: 10px;
    padding : 10px;
}


aside img{
    transition: transform 0.3s ease-in-out; 
}

aside img:hover {
    transform: scale(1.1); 
}

section h3 {
    margin-top: -40px;
}

section img {
    height : auto;
    width: 15em;
    border-radius: 10px;
    margin : -5px;
    border-color: white;
    border-style: solid;
}

table {
    width: 100%;
    border-collapse: collapse; 
  }

tr, td {
    border: 1px solid black; 
    padding: 5px; 
    text-align: left; 
}

footer {
    color : white;
    flex-basis : 100%;
    width: 1em;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    padding: 1px; 
    width: 40%; 
    height: auto;

}


h2 {
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : white;
}


a{
    color : white;
    text-decoration: none;
    cursor : auto;   
}




@media screen and (max-width: 768px) {
    main {
      flex-direction: column; 
    }
  
    nav ul {
      display: block;
      text-align: center;
    }
  
    img {
      width: 100%; 
      height: auto;
    }
  }


