body {
    display : flex;
    flex-wrap : wrap;  
}


header {
    flex-grow: 1;
    height : 30% ;
    flex-basis : 100%;

}

header h1 {
    position: relative;
    padding: 20px; 
    width: 80%; 
    margin: auto;
    margin-top: 20px;

}

header ul {
    display : flex ;
    flex-wrap :nowrap;


}

header ul li {
    flex-grow: 1;
    flex-basis: 100%;
}



main {
    display : flex;
    flex-direction: column;
    flex-basis : 45%;
    flex-grow : 4 ;
}

main section {
    transition: transform 0.3s ease-in-out; 
    margin-top: 0px;;
    margin-left : 30px;
    margin-bottom: 10px;

}
  
main section:hover {
    transform: scale(1.05); 
}

section section{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    min-width: 50vh;
    height: auto;
    width: 25em;
    margin : 30px;
    position: relative;
    padding: 10px; 
    width: 80%; 
} 

aside {
    flex-basis: 15%;
    flex-grow : 1;
    margin : 10px;
    padding : 5px;
    position: relative;
    padding: 20px; 
    width: 80%; 
}


aside section{
    margin: 10px;
    padding : 10px;
}


aside img{
    transition: transform 0.3s ease-in-out; 
}

aside img:hover {
    transform: scale(1.1); 
}

section h3 {
    margin-top: -40px;
}

section img {
    height : auto;
    width: 15em;
    margin : -5px;
}

table {
    width: 100%; 
}

tr, td {
    padding: 5px; 
    text-align: left; 
}

footer {
    flex-basis : 100%;
    width: 1em;
    padding: 1px; 
    width: 40%; 
    height: auto;

}



@media screen and (max-width: 768px) {
    main {
      flex-direction: column; 
    }
  
    nav ul {
      display: block;
      text-align: center;
    }
  
    img {
      width: 100%; 
      height: auto;
    }
  }

