h1{
    text-align: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 1em;
}

header nav li{
    flex-basis: 15%;
    text-align: center;
}

