body{
    background-image: url(../img/fond-ecran.jpeg);
    background-size: cover;
    backdrop-filter: contrast(60%);
}
header{
    background-color:#1e1e23;
    border-bottom: solid 0.1em white;
}
header h1{
    color: white;
}
header nav a{
    text-decoration: none;
    color: white;
}
header nav li{
    list-style-type: none;
}
header nav li:hover{
    text-shadow: 5px 5px 3px white;
    transition: 0.4s;
}
.section_intro_acc p{
    color: white;
}
section.acc_section1, section.acc_section2, section.acc_section3{
    border: solid 0.1em white;
    border-radius: 15px;
    background-color: #1e1e23;
}
.container_acc p, .container_acc li, .container_acc h2{
    color: white;
}
footer{
    border-top: solid 0.1em white;
    background-color: #1e1e23;
}
footer h3{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer li{
    color: white;
    list-style-type: none;
}
