/*--------------Style commun-----------------*/
body{
    background-image: url(../img/fond-ecran.jpeg);
    background-size: cover;
    backdrop-filter: contrast(60%);
}
header{
    background-color:#1e1e23;
    border-bottom: solid 0.1em white;
}
header h1{
    color: white;
}
header nav a{
    text-decoration: none;
    color: white;
}
header nav li{
    list-style-type: none;
}
header nav li:hover{
    text-shadow: 5px 5px 3px white;
    transition: 0.4s;
}

footer{
    border-top: solid 0.1em white;
    background-color: #1e1e23;
}
footer h3{
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer li{
    color: white;
    list-style-type: none;
}
/*-------------------------------------------*/

/*--------------Style Index-----------------*/
.section_intro_acc p{
    color: white;
}
section.acc_section1, section.acc_section2, section.acc_section3{
    border: solid 0.1em white;
    border-radius: 15px;
    background-color: #1e1e23;
}
.container_acc p, .container_acc li, .container_acc h2{
    color: white;
}
/*-------------------------------------------*/


/*--------------Style Reconversion-----------------*/
section.filieres_reconv{
    border: solid 0.1em white;
    border-radius: 0.7em;
    background-color: #1e1e23;
}

section.filieres_reconv p{
    color: white;
}


#tableau_nb_reconv {
    width: 100%;
    border-collapse: collapse;
    color: black;
    background-color: white;
    overflow: hidden;
    border: 1px solid #ddd;

  }
  

  
#tableau_nb_reconv  th {
    background-color: #333;
    color: white;
  }

caption > a {
    text-decoration: none;
    color: purple;
    
}

#tableau_reconv_filieres {
    width: 100%;
    border-collapse: collapse;
    color: black;
    background-color: white;
    overflow: hidden;
  }
  
#tableau_reconv_filieres  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
#tableau_reconv_filieres  th {
    background-color: #333;
    color: white;
  }

#raison_reconv_table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    background-color: white;
    overflow: hidden;
  }
  
#raison_reconv_table th, #raison_reconv_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
#raison_reconv_table th {
    background-color: #333;
    color: white;
  }

 h2.titres_reconv{
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#art_intro_reconv{
    color: white;
}
/*-------------------------------------------*/

/*----------------Style Ingenieur----------------*/
.section_intro_inge p{
    color: white;
}

.section_inge_1 ul {
    list-style-type: none;
}
.section_inge_1 ul > li {
    background: #444459;
    border-left: 5px solid white;
    
}

.domaine_inge, .ecoles_inge{
    border: 2px solid white;
    border-radius: 5%;

}

.section_inge_1{
    color: white;
}

.domaine_inge, .ecoles_inge{
    background-color: #1e1e23;
    
}

.section_inge_2{
    color: white;
}

.apprentissage_inge, .etranger_inge, .autre{
    border: 2px solid white;
    border-radius: 5%;
    background-color: #1e1e23;
}

.apprentissage_inge ol > li{
    background: #444459;
    border-left: 5px solid white;
}

.etranger_inge ul {
    list-style-type: none;
}
.etranger_inge ul > li {
    background-color: #444459;
    border-left: 5px solid white;
    
}
/*-------------------------------------------*/
